@import '../../styles';

.typography {
  font-family:  Bitum, serif;
}

.variant-primary {
  color: apply-color('text-primary');
}

.typography {
  font-family: Bitum, serif;
}

.variant-secondary {
  color: apply-color('text-secondary');
}

.size-xxs {
  font-size: 0.5rem;
}

.size-xs {
  font-size: 0.75rem;
}

.size-sm {
  font-size: 0.875rem;
}

.size-md {
  font-size: 1rem;
}

.size-lg {
  font-size: 1.25rem;
}

.size-xl {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .desktop-size-xxs {
    font-size: 0.5rem;
  }

  .desktop-size-xs {
    font-size: 0.875rem;
  }

  .desktop-size-sm {
    font-size: 1rem;
  }

  .desktop-size-md {
    font-size: 1.125rem;
  }

  .desktop-size-lg {
    font-size: 1.375rem;
  }

  .desktop-size-xl {
    font-size: 1.625rem;
  }
}

.uppercase {
  text-transform: uppercase;
}